Django==2.1.5
Pillow==9.4.0
requests==2.28.1
bcrypt==3.2.0
cryptography==39.0.1
pyOpenSSL==23.0.0
pytz==2022.7
six==1.16.0
urllib3==1.26.14
certifi==2022.12.7
charset-normalizer==2.0.4
idna==3.4
cffi==1.15.1
pycparser==2.21
PySocks==1.7.1
brotlipy==0.7.0