<!DOCTYPE html>
{% load staticfiles %}
{% load lunar_somnio_template_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href={% static 'CSS/style.css' %} rel='stylesheet'>
    <title>{% block title_block %}{% endblock %}</title>
</head>
<body>
    {% block body_block %}{% endblock %}
</body>
</html>