{% extends 'lunar_somnio/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Dream Analyzer
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<h1 class="da-maintitle pt-5 pb-2"> About [<em style="color: #7d5ec0">{{ dream.title }}</em>]...</h1>

<div class="row g-2 px-5">

    <!-- First column --> 
    <div class="col-4 px-2" >
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">
            <div class="card p-1 m-1">
                <h5 class="da-titles mt-2 mx-2">On {{ dream.dreamed_at|date:"F j, Y" }} you wrote:</h5>
                <p class="dream-bodytext mx-2"><i>{{ dream.text }} </i></p>
            </div>
        </div>
    </div>

    <!-- Second column -->
   <div class="col-4 px-2">
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">                            
            <div class="card">
                <h5 class="da-titles mt-2 mx-2">According to our analysis, your dream could mean...</h5>
                <p class="dream-bodytext mx-2">Analysis Number 1 goes here...</p>
            </div>
        </div>
    </div>

    <!-- Third column -->
    <div class="col-4 px-2">

        <!-- Emotions Card -->
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">                            
            <div class="card">
                <h5 class="da-titles mt-2 mx-2">You picked:</h5>
                {% if emotions %}
                <div class="d-flex flex-wrap gap-2 mb-1 ml-1">
                    {% for e in emotions %}
                        <span class="emotion-tag">{{ e.category|capfirst }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="d-flex flex-wrap gap-2 ml-1"> 
                    <p class="dream-bodytext ml-1 mt-1"><i>⚠️ You forgot to pick an emotion! ⚠️</i></p>
                </div>
                {% endif %}
            </div>
            
            <div class="card mt-3">
                <h5 class="da-titles mt-2 mx-2">According to our data, this dream may be predominantly related to: </h5>
                <div class="d-flex flex-wrap gap-2 mb-1 ml-1">
                    {% for e in emotions %}
                        <!-- <span class="emotion-tag"> emotion analyzed goes here </span> -->
                    {% endfor %}
                    <span class="emotion-tag"> EMOTION GOES HERE </span>
                </div>
            </div>
        </div>

        <!-- Weather Card -->
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">                            
            {% if weather %}
            <div class="card">
                <div class="d-flex align-items-center mx-2 my-2">
                    <div class="flex-grow-1">
                        <h5 class="da-titles mb-1">That night in {{ weather.location_name }}...</h5>
                        <p class="dream-bodytext mb-0">The moon's phase was 
                            <b>{{ weather.moon_phase }}</b> and it's illumination was 
                            <b>{{ weather.moon_illumination }}%</b></p>
                    </div>
                    <div style="font-size: 4rem;" class="mr-1">
                        {% if weather.moon_phase == "New Moon" %}🌑
                        {% elif weather.moon_phase == "Waxing Crescent" %}🌒
                        {% elif weather.moon_phase == "First Quarter" %}🌓
                        {% elif weather.moon_phase == "Waxing Gibbous" %}🌔
                        {% elif weather.moon_phase == "Full Moon" %}🌕
                        {% elif weather.moon_phase == "Waning Gibbous" %}🌖
                        {% elif weather.moon_phase == "Last Quarter" %}🌗
                        {% elif weather.moon_phase == "Waning Crescent" %}🌘
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="d-flex align-items-center mx-2 my-2">
                        <p class="dream-bodytext mb-1"><i>⚠️ There was an error with the location (or it wasn't authorized), so we couldn't retrieve the moon data. ⚠️</i></p> 
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
          
</div>

<!-- Buttons at end -->
 
<div class="d-flex justify-content-between px-4">
    <a href="{% url 'lunar_somnio:edit_dream' dream.id  %}"><button class="btn button1 dream-bg mx-3" style="--bg-image: url('{% static "images/BG75.png" %}')">Edit Dream</button></a>
        <div class="d-flex" style="margin-right: 16px">
            {% if prev_dream %}
            <a href="{% url 'lunar_somnio:dream_analyzer' prev_dream.id  %}"><button class="btn button1 dream-bg mx-2" style="--bg-image: url('{% static "images/BG75.png" %}')">
                <i class="bi bi-chevron-left"></i></button></a>
            {% endif %}
            {% if next_dream %}
            <a href="{% url 'lunar_somnio:dream_analyzer' next_dream.id  %}"><button class="btn button1 dream-bg" style="--bg-image: url('{% static "images/BG75.png" %}')">
                <i class="bi bi-chevron-right"></i></button></a>
            {% endif %}
        </div>
</div>

{% endblock %}
