{% extends 'lunar_somnio/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <div class="full-page">
        <div class="box">
            <h1>
                what did you <i>dream</i> today?
            </h1>
        </div>
        <div class="box w-50 mx-auto dream-bg" style="--bg-image: url('{% static "images/BG4.png" %}')">
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.title }}
                    <div class="input-group-append">
                        <button class="btn bg-light rounded-right-only" type="submit">
                            <i class="bi bi-moon-stars"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <div class="container-fluid mb-5">
        <div class="box fade-section text-center">
            <img src="{% static "images/Logo3.png" %}" alt="Dream Feed" class="mb-4">
        </div>

        <div class="row justify-content-center">
            {% for dream in public_dreams %}
                <div id="dream-{{ dream.id }}" class="col-12 col-md-6 col-lg-4 mb-4 fade-section">
                    {% include "lunar_somnio/dream_card.html" with dream=dream truncate=True %}
                </div>

                <div class="modal fade" id="dreamModal-{{ dream.id }}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        {% include "lunar_somnio/dream_card.html" with dream=dream truncate=False %}
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <div class="card p-4">
                        <p class="mb-0">No public dreams yet.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{%  block scripts %}
    <script src="{% static 'js/dream_reaction.js' %}"></script>
    <script src="{% static 'js/fade_scroll.js' %}"></script>
{% endblock %}