{% extends 'lunar_somnio/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

    <div class="full-page">
        <div class="box">
            <h1>
                what did you <i>dream</i> today?
            </h1>
        </div>
        <div class="box bg-dark w-50 mx-auto">
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.title }}

                    <div class="input-group-append">
                        <button class="btn bg-light rounded-right-only" type="submit">
                            <i class="bi bi-moon-stars"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}