{% extends 'lunar_somnio/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Your Profile
{% endblock %}

{% block body_block %}

<!-- Main Row -->
<div class="row g-2 p-5">

    <!-- Left Column -->
    <div class="col-6">
     
        <!-- Profile Name & Image Card -->
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG50.png" %}')">
            <div class="card">
                <img class="userpic" src='{{ user_profile.profile_pic }}'>
                    <div class="d-flex flex-column">
                        <p class="p-2 m-3">@{{ user_profile.display_name }}</p>
                        <h5 class="card-text d-flex">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                    </div>
            </div>
        </div>

            <!-- Mini Row on Left Column-->
            <div class="row m-0">
                <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">
                    <div class="card card-centered col">
                            <div class="card-body">
                                <h5 class="card-text">{{ user_profile.country }}</h5>
                            </div>
                    </div>

                    <div class="card card-centered col">
                            <div class="card-body">
                                <h5 class="card-text">{{ user_profile.gender }}</h5>
                            </div>
                    </div>

                    <div class="card card-centered col">
                            <div class="card-body">
                                <h5 class="card-text">{{ user_profile.age }}</h5>
                            </div>
                    </div>
                </div>
            </div>
            
        <!-- Bio Card -->
        <div class="box dream-bg mb-3" style="--bg-image: url('{% static "images/BG25.png" %}')">
            <div class="card p-1 m-1">
                <p class="dream-bodytext">{{ user_profile.bio }}</p>
            </div>
        </div>
    </div>

    <!-- Right Column -->
    <div class="col-6">

        <p class="titlestyle mx-2"> This past year...</p>

        <!-- Total Dreams Card  -->
        <div class="row justify-content-end">

                            <div class="box mx-auto dream-bg mb-3" style="--bg-image: url('{% static "images/BG4.png" %}')">

            <div class="card card-centered col">
                <div class="card-body">
                    <p class="card-title profile-text-1">You've registered</p>
                    <h5 class="card-text big-num">{{ total_dreams }}</h5>
                    <p class="card-title profile-text-1">dreams in your journal</p>
                </div>
            </div>
        </div>

                        <div class="box mx-auto dream-bg mb-3" style="--bg-image: url('{% static "images/BG4.png" %}')">

            <div class="card card-centered col">
                <div class="card-body">
                    <p class="card-title profile-text-1">Your average sleep quality is:</p>
                    <h5 class="card-text big-num">{{ avg_sq.sleep_quality__avg }}</h5>
                </div>
            </div>
        </div>
    </div>
        <div class="row justify-content-end">

                            <div class="box mx-auto dream-bg mb-3" style="--bg-image: url('{% static "images/BG4.png" %}')">

            <div class="card card-centered col">
                <div class="card-body">
                    {% if recent_dream %}
                        <p class="card-title profile-text-1">Recent Dream:</p>
                        <h5 class="card-text">{{ recent_dream.title }}</h5>
                    {% else %}
                        <p class="card-title profile-text-1">Recent Dream:</p>
                        <h5 class="card-text">No dreams yet!</h5>
                    {% endif %}
                </div>
            </div>
        </div>

                            <div class="box mx-auto dream-bg mb-3" style="--bg-image: url('{% static "images/BG4.png" %}')">

            <div class="card card-centered col">
                <div class="card-body">
                    {% if top_month %}
                    <p class="card-title profile-text-1">Top Month:</p>
                    <h5 class="card-text">{{ top_month.month|date:"F" }}</h5>    
                    {% else %}
                        <p class="card-title profile-text-1">Top Month:</p>
                        <h5 class="card-text">No dreams yet!</h5>                    {% endif %}
                </div>
            </div>
        </div>
                            <div class="box mx-auto dream-bg mb-3" style="--bg-image: url('{% static "images/BG4.png" %}')">

            <div class="card card-centered col">
                <div class="card-body">
                    <p class="card-title profile-text-1">Top Emotions:</p>
                    {% if top_emotions %}
                        {% for e in top_emotions %}
                        <h5 class="card-text">{{ e.name }}</h5>       
                        {% endfor %}
                    {% else %}
                        <h5 class="card-text">No dreams yet!</h5>                    {% endif %}
                </div>
            </div>        
        </div> </div>
    </div>
    
</div>



{% endblock %}
