{% extends 'lunar_somnio/base.html' %}

{% block title_block %}Sign Up{% endblock %}

{% block body_block %}
<div class="full-page">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold">JOIN LUNAR SOMNIO</h1>
        <p class="text-muted">Create your account to start analyzing dreams.</p>
    </div>
    
    <div class="box shadow-sm" style="background: white; width: 350px; padding: 2rem;">
        <form method="POST">
            {% csrf_token %}
            
            <input type="text" name="username" class="form-control dream-title-input mb-3" placeholder="Username" required>
            <input type="email" name="email" class="form-control dream-title-input mb-3" placeholder="Email Address" required>
            <input type="password" name="password" class="form-control dream-title-input mb-3" placeholder="Password" required>
            
            <input type="number" name="age" class="form-control dream-title-input mb-4" placeholder="Your Age" required> 
            
            <button type="submit" class="btn btn-dark btn-block dream-title-input" style="height: auto;">Create Account</button>
        </form>
        
        <p class="small mt-4">
            Already have an account? <a href="{% url 'lunar_somnio:login' %}" class="font-weight-bold text-dark">Log in.</a>
        </p>
    </div>
</div>
{% endblock %}